
div.profile-container {
    width: 55vw;
    background-color: none;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

button.avatar-holder {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600;
}

.idd1 {
    font-size: 12px;
}

.number {
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444;
    margin-left: 3px;
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

span a:hover {
    text-decoration: underline;
    color: white;
}

div.activity-link {
    background-color:rgba(121, 188, 255, 0.6);
}

.user-button {
    margin: 10px;
    margin-bottom: 0;
}

.done {
    background-color: green;
}